@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

html{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 500;
}

/* Header General */
.header-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(..//img/jumbo.png);
    background-position: center;
    background-size: cover;
    padding: 5px;
    min-height: 450px;
}


/* Header > Nav */
.nav-flex{
    display: flex;
    flex-direction: row;
    width: 80%;
    max-height: 50px;
    gap: 10%;
    justify-content: baseline;
    align-items: center;
}
nav > div, img{
    flex-grow: 1;
    color: white;
}
nav>img{
    max-width: fit-content;
    max-height: fit-content;
}
.menù{
    flex-grow: 3;
} 
.list-menù{
    display: flex;
    padding: 3px;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    list-style-type: none;
    flex-grow: 1;
    text-transform: capitalize;
}
nav > a{
    background-color: white;
    color: black;
    text-decoration: none;
    text-align: right;
    border-radius: 25px;
    padding: 1% 2%;
}


/* Header > Section */
.section-flex{
    display: flex;
    flex-direction: column;
    max-width: 35%;
    align-items: center;
    justify-content: flex-end;
    color: white;
    margin-top: 3%;
} 

/* Header > Section > h1, p*/
.section-flex > h1{
    font-size: xx-large;
    text-align: center;
}
.section-flex > p{
    margin: 5% 0% 0%;
    text-align: center;
}


/* Header > Section > button-container-flex */
.button-container-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 90%;
}
div.button-container-flex > .button{
    min-height: 20%;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 600;
    font-size: medium;
    border-radius: 25px;
    padding: 2% 5%;
}
.button.white{
    color: black;
    background-color: white;
}
.button.black{
    color: white;
    background-color: black;
} 


/* Sezione centrale general*/
.container-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0%;
    background-color: #ffffff;
}
.central-section-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    max-width: 80%;
}
section.central-section-flex > article > h1{
    font-size: xx-large;
    text-align: start;
    font-weight: 900;
}
section.central-section-flex > div{
    min-width: 40%;
    max-width: 70%;
    min-height: 40%;
    max-height: 70%;
}
section.central-section-flex > div > img{
    max-width: 100%;
    max-height: 100%;
}
section.central-section-flex > article > p{
    font-size: medium;
}
.d_back{
    background-color: #f6f6f6;
}


/* Sezione diversa  */
.lats-container-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.last-section-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3% 0%;
    width: 80%;
    gap: 10px;
    margin: auto;
}

.last-section-flex > h1{
    font-size: xx-large;
    font-weight: 900;
}
.last-section-flex >p{
    font-size: medium;
}
.last-section-flex > img{
    max-width: 100%;
    min-width: 40%;
}
.last-section-flex > h2{
    padding: 3% 2%;
    background-image: url(../img/stars.svg);
    background-position: center;
    background-size: contain;
}

.download{
    min-height: 20%;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 600;
    font-size: medium;
    background-color: #8EA1E1;
    color: white;
    border-radius: 25px;
    padding: 1% 3%;
}


/* Footer */
.footer-container-flex{
    background-color: #23272A;
    padding-top: 1%;
    color: white;
}
.footer-flex{
    display: flex;
    width: 80%; 
    margin: auto;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 1%;
}
.footer-flex > div{
    flex-grow: 1;
}
.footer-flex :first-child{
    flex-grow: 2;
}
.final-section-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-top: 2px solid rgb(143, 162, 224, 0.3);
}
div>ul>li{
    padding: 2px;
    list-style-type: none;
}
footer>div>ul>li:first-child{
    color: #8EA1E1;
}
div>ul>li>p>span>img{
    height: 1em;
}
#social-flex{
    height: 2em;
    display: flex;
    flex-direction: row;
}
#social-flex > img{
    max-width: 1.5em;
    height: 1.5em;
    margin: 2px;
}

/* Logo and register */
#discord_logo{
    max-width: fit-content;
    max-height: fit-content;
}
.final-section-flex > button > a{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 500;
    color: white;
    text-decoration: none;
}
.final-section-flex > button{
border-radius: 25px;
background-color: #8EA1E1;
padding: 0.5% 1.5%;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}
